body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #F9F5F2;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.card {
  height: 200px;
  width: 150px;
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 1px solid black;
  filter: drop-shadow(4px 4px black);
}
