/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.gap-5 {
  gap: 10px;
}

.light-grey {
  color: #D3D5DA;
}

.tag-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.tag-list li {
  border: 1px dashed grey;
  padding: 5px 10px;
  border-radius: 30px;
}

.md-text {
  font-size: 0.8em;
}

.sm-text {
  font-size: 0.7em;
}

.selected {
  filter: drop-shadow(0px 1px 2px #02102A);
  border: 1px solid #02102A !important;
  background-color: #02102A;
  color: white;
}
